.wolf-popup-overlay{
	position: fixed;
	z-index: -10;
	transition:opacity .4s linear, z-index .4s .4s linear;
	opacity: 0;
	overflow-y: auto;
	width: 100%;

	&.wolf-popup-overlay-visible{
		transition:opacity .4s linear, z-index .4s 0s  linear;
		z-index: 99995;
		opacity: 1;
	}
}

.wolf-popup-mask{
	position: absolute;
	width: 100%;
	height: 100%;
	background:black;
	opacity: 0.3;
}

.wolf-popup-type-full{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background: rgba(0,0,0,.33);
	height: 100%!important;
}

.wolf-popup-type-non_intrusive{
	margin: 15px;
	//right: 0;
	bottom: 0;
	background: none;
	overflow-y: hidden!important;

	.wolf-popup-container{
		width: 100%;
		//height: 100%;
	}

	.wolf-popup-position-bottom-left{
		bottom: 0;
		left: 0;
	}

	.wolf-popup-position-bottom-right{
		bottom: 0;
		right: 0;
	}

	.wolf-popup-bottom-close{
		color: grey
	}
}

.wolf-popup-container{
	//background:white;
	position: absolute;
	width:92%;
	height: auto;
	top: 50%;
	left: 50%;
	z-index: 9999;
	opacity: 0;
	transform:translate3d(-50%, -48%, 0);
	transition: all .8s ease;
}

.wolf-popup-overlay-show{
	.wolf-popup-container{
		opacity: 1;
		transform: translate3d(-50%, -50%, 0);
	}
}

#wolf-popup-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	opacity: 1;
	border: 0;
	color: #171717;
	z-index: 9999;
}

.wolf-popup-bottom-close{
	margin-top: 5px;
	display: inline-block;
	color: #fff;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	width: 100%;
	font-weight: 700;
	position: relative;
	top: 0;
	right: 0;
}

@media screen and (max-width: 600px) {
	.wolf-popup-type-non_intrusive{
		margin: 0;
	}

	.wolf-popup-container{
		//transform:scale(0.8);
	}
}